#suggestions {
    max-height: 100px;
    overflow-y: auto;
    position: absolute;
    width: calc(10% - 20px);
    background-color: #fff;
}

table,
th,
td {
    border: 1px solid black;
    border-radius: 20px;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    margin: auto;
}

table {
    border-radius: 10px;
    overflow: hidden;
}

#btn {
    width: 100%;
    margin-top: 1vh;
}

.btn {
    margin-bottom: 45vh;
}

#btn button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
    background-color: lightblue;
    font-size: 2.5vh;
}

.suggestion {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

#prescription-values {
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: blue;
}

h6 {
    margin-left: 10vh;
}

.showDrugNameForm {
    padding: 2vh;
    width: 50vw;
    margin-top: 12vh;
    /* border: 2px solid red; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.showDrugNameForm h5 {
    text-align: center;
    margin-bottom: 3vh;
}

.check_drug {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.info_drug {
    /* width: 60%; */
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6); */
    padding-top: 5vh;
    /* border-radius: 10px; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.show_table_infor {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    margin-bottom: 4vh;
}

.show_table_infor table {
    width: 100%;
}


.showPrescriptionDetails1 {
    position: absolute;
    top: 25vh;
    right: 2vh;
    width: 45vw;
}


.showPrescriptionDetails1 table {
    width: 100%;
}

.showPrescriptionDetails2 {
    position: absolute;
    top: 25vh;
    right: 2vh;
    margin: 0 auto;
    width: 45vw;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}


.showPrescriptionDetails2 table {
    width: 100%;
}

#btn1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 5vh;
}

#btn1 button {
    width: 15vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
    background-color: lightblue;
    font-size: 2.5vh;
}

.form {
    display: flex;
    justify-content: center;
    width: 100%;
}

h6 {
    text-align: center;
}