table,
th,
td {
    border: 1px solid black;
    border-radius: 20px;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    margin: auto;
}

table {
    border-radius: 10px;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: blue;
}

.full_infor_of_patient {
    display: flex;

}

.record {
    width: 45vw;
    margin: 10vh 0 5vh 2vh;
}

.record table {
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    font-size: 1em;
    line-height: 1.4;
    margin-bottom: 4vh;
}

.record h4 {
    text-align: center;
}

.record a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    width: 20vh;
    padding: 1.5vh 0;

}

#btn a {
    color: #50d8af;
    text-decoration: underline;
}

#btn {

    font-weight: 400;
    width: 20vh;
    padding: 1.5vh 0;
}


.record button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
    background-color: lightblue;
    font-size: 2.3vh;
    border: none;
}

.record button:hover {
    outline: none;
    border: 1px solid rgb(71, 106, 117);
}

.detail {
    width: 45vw;
    margin: auto;
    float: right;
    margin-top: -3vh;
    /* border: 2px solid red; */
}

.detail h2 {
    margin-bottom: 5vh;
    text-align: center;
}

.detail button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
    background-color: lightblue;
    font-size: 2.3vh;
    border: none;
}

.ok {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    margin-bottom: 4vh;
}

.ok table {
    width: 100%;

}


.detail button:hover {
    outline: none;
    border: 1px solid rgb(71, 106, 117);
}

.detail a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    width: 21.5vh;
    padding: 1.5vh 0;


}

h2 {
    text-align: center;
    margin-top: 2vh;
}

.form {
    width: 30vw;
    margin: 7vh 0 0 20vh;
}

.form input {
    height: 5vh;
    width: 80%;
    border: 1px solid rgb(234, 222, 201);
    border-radius: 10px;

}

.form input:focus {
    border: 2px solid lightblue;
    outline: none;
}

.form button {
    height: 5vh;
    width: 10vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(211, 224, 229);
    cursor: pointer;
}

.form button:hover {
    outline: none;
    border: 1px solid rgb(71, 106, 117);
}